<a
    href="{{ $button_link ?? '#' }}"
    role="button"
    class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-oblong-accent-dark
        border-oblong-accent-dark rounded border

        {{ if button_type == 'ghost' }}
            bg-transparent text-oblong-accent-dark border-oblong-accent-dark  hover:border-oblong-accent hover:bg-oblong-accent hover:text-white
        
        {{ else }}
            bg-oblong-accent-dark border-oblong-accent-dark hover:bg-oblong-accent text-white 
        {{ /if }}

        transition duration-150 ease-in-out  
        text-lg lg:text-xl lg:font-bold     
        px-4 sm:px-10 py-2 sm:py-4"
>
    {{ $button_text ?? 'You forgot to set the button text' }}
</a>