<div class="container px-3 mx-auto flex flex-wrap flex-col-reverse 
    {{ if hero_right }} lg:flex-row-reverse {{ else }} lg:flex-row {{ /if }}
    justify-between ">
    <!--Left Col-->
    <div class="flex flex-col w-full lg:w-3/5 lg:items-start lg:text-left">

        {{ partial:components/hero-subhead }}
        {{ partial:components/hero-h1 }}
        {{ partial:components/hero-para }}

        {{ if button_text }}
            <div class="flex justify-center items-center mt-4 sm:mt-6">
                {{ partial:components/button }}
            </div>
        {{ /if }}

    </div>

    <!--Right Col-->
    <div class="w-full lg:w-2/5 py-6 mx-auto">
        <img 
            class="w-full xlg:w-4/5 z-50 
                {{ if hero_right }} lg:float-left {{ else }} lg:float-right {{ /if }}
            "
            src="{{ $image ?? 'https://www.tailwindtoolbox.com/templates/hero.png' }}"
        />
    </div>

</div>
