.personality-casual {
    .squiggle {
        filter: url("#squiggle");
        position: relative;
        transform: translateZ(0);
    }
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;

    .embed-responsive-item,
    iframe,
    embed,
    object,
    video {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      border: 0;
    }
  }

  .aspect-ratio-none {
    padding-bottom: 0;
  }
  .aspect-ratio-square {
    padding-bottom: 100%;
  }
  .aspect-ratio-16\/9 {
    padding-bottom: 56.25%;
  }
  .aspect-ratio-4\/3 {
    padding-bottom: 75%;
  }
  .aspect-ratio-21\/9 {
    padding-bottom: 42.86%;
  }

[x-cloak] { display: none; }

@layer base {

  body {
      font-size: 17px;
  }
  
  a {
      @apply 
       hover:text-oblong-accent hover:no-underline;
  }
  
  p > a, li > a:not(.footer) {
      @apply text-oblong-accent border-b-2 border-oblong-accent no-underline 
      hover:text-slate-50 hover:bg-oblong-accent hover:no-underline;
      
  }
  
  blockquote {
      @apply pl-6;
      @apply my-8;
      @apply text-lg;
      @apply font-normal;
      @apply italic;
      @apply text-gray-600;
      @apply border-l-4;
      @apply border-oblong-accent-light;
  }
  
  code {
      @apply px-2;
      @apply py-px;
      @apply text-sm;
      @apply bg-gray-300;
      @apply rounded;
  }
  
  code.hljs {
      @apply p-0;
      @apply bg-transparent;
  
      & .hljs-comment,
      & .hljs-keyword,
      & .hljs-meta {
          @apply font-normal;
          @apply not-italic;
      }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      @apply mb-4;
      @apply text-gray-900;
      @apply leading-tight;
  
      &:first-child {
          @apply mt-0;
      }
  }
  
  h1 {
      @apply text-5xl;
      @apply font-extrabold;
  }
  
  h2 {
      @apply text-4xl;
      @apply font-bold;
  }
  
  h3 {
      @apply text-3xl;
      @apply font-bold;
  }
  
  h4 {
      @apply text-3xl;
      @apply font-normal;
  }
  
  h5 {
      @apply text-xl;
      @apply font-normal;
  }
  
  h6 {
      @apply text-lg;
      @apply font-light;
  }
  
  hr {
      @apply my-12;
      @apply border-b;
      @apply border-gray-100;
      @apply rounded-full;
  }
  
  li {
      & ul,
      & ol {
          @apply ml-8;
          @apply my-0;
      }
  }
  
  ol,
  ul {
      @apply my-4 ml-6;
  }
  
  ol {
      @apply list-decimal;
  }
  
  ul {
      @apply list-disc;
  }
  
  p, li {
      @apply text-xl mb-3 text-gray-700;
  
  }
  
  pre {
      @apply p-4;
      @apply my-6;
      @apply text-base;
      @apply bg-gray-200;
      @apply leading-loose;
      @apply rounded;
      @apply shadow;
      @apply overflow-x-auto;
  
      & code {
          @apply block;
          @apply p-0;
          @apply bg-transparent;
      }
  }
  
  ::selection {
      @apply text-white;
      @apply bg-oblong-accent;
  }
  
  #article-content > p:first-of-type {
      @apply text-2xl leading-snug;
  }
}